@{
    ViewBag.Title = "Contate-nos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    JD SYSTEM<br />
    NITEROI, RJ 24020001<br />
    <abbr title="Phone">P:</abbr>
    2618-2950
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniel@jdsystem.com.br">daniel@jdsystem.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:marcos@jdsystem.com.br">marcos@jdsystem.com.br</a>
</address>